# To Day Agenda
+ Execution of commands in python shell
- Data Types
    + int
    - float
    * bool
    * complex
    + str
* I/P & O/P
- Program Execution in idle
+ program Execution in Command prompt
+ Program Written in Note pad
* Git Hub in Account Creation

In [ ]:
a=66
b=98
print(a+b)
print(a-b)
print(a*b)
print(a/b)#floating
print(a//b)#integer
print(a**b)
print(pow(a,b))

In [ ]:
a=6
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)#floating
print(a//b)#integer
print(a**b)
print(pow(a,b))

In [ ]:
#Relation operators
print(50>100)
print(100<40)
print(30<=29)
print(40<=50)
print(2==2)
print(2==1)
print(10!=5)
print(15!=15)

In [ ]:
#logical operators
print(False and False)
print(True and True)
print(False and True)
print(True and False)

In [ ]:
print(False or False)
print(True or True)
print(False or True)
print(True or False)

In [ ]:
print(False not False)
print(True not True)
print(False not True)
print(True not False)

In [ ]:
print(not(False and False))
print(not(True and True))
print(not(False and True))
print(not(True and False))

In [ ]:
print(not(False or False))
print(not(True or True))
print(not(False or True))
print(not(True or False))

In [ ]:
print(10>9 and 5<4)
print(10==10 and 9!=9)
print(9!=5 or 5==5)
print(not(100>99 and 50<20))

In [ ]:
#Assignment Operators
i=i+1
i+=1

In [ ]:
n=int(input('enter the nmuber'))
if n%2==0:
    print(n,'even number')
else:
    print(n,'odd number')

In [ ]:
n=int(input('enter the nmuber'))
if n%2==0:
    print(n,'even number')
else:
    print(n,'odd number')

In [ ]:
n=int(input('enter the nmuber'))
if n%2==0:
    print(n,'even number')
else:
    print(n,'odd number')

In [ ]:
n=input('Enter user name:-')
n1= input('Enter password:-')
if (n=n1):
    print("welcome")
else:
    print("invalid password")

In [ ]:
n=input('Enter user name:-')
n1= input('Enter password:-')
if (n==n1):
    print("welcome")
else:
    print("invalid password")

In [ ]:
n=input('Enter user name:-')
n1= input('Enter password:-')
if (n==n1):
    print("welcome")
else:
    print("invalid password")

# iteration 
#

In [ ]:
for temp in range(10):
    print(temp)

In [ ]:
for temp in range(0,10+1):
    print(temp)

In [ ]:
for temp in range(55):
    print(temp)

In [ ]:
for i in range (1, 101+9):
    print(i, end="--->")

In [ ]:
for i rev range (100, 10):
    print(rev, end="<---")

In [ ]:
for  rev in range (100,1,-1):
    print(rev, end=" ")

In [ ]:
for even in range (100,158,2):
    print(even, end=" ")

In [ ]:
for odd in range (1,100,2):
    print(odd, end=" ")

In [ ]:
for dif in range (1,100,5):
    print(dif, end=" ")

In [ ]:
for mul in range (2,10,1):
    print(mul, end="-->")

In [ ]:
for i in range (2*1=2,10,1):
    print(i, end="-->")

In [ ]:
num= int(input("Enter table:- "))
for i in range(1,10+1):
   num= int(input("Enter table:- "))
for i in range(1,10+1):
    print(num,'*', i,'=',num*i)

In [ ]:
num= int(input("Enter number of table:- "))
for num in range(1,10+1):
    print(num)
num= int(input("Enter number of table multiples"))
for num in range(1,10+1):
    print(num,'*', i,'=',num*i)

In [ ]:
num= int(input("Enter number of table:- "))
for num in range(1,10+1):
    print(num)
num= int(input("Enter number of tables:-"))
for num in range(1,10+1):
    print(num,'*', i,'=',num*i)

In [ ]:
num= int(input("Enter number of table to be printed:- "))
for num in range(1,10+1):
    print(num)
num= int(input("Enter all table multiples:-"))
for num in range(1,11,1):
    print(num,'*', i,'=',num*i)

In [ ]:
i=1
while i<=10:
    print(i)
    i+=1

In [ ]:
i=1
while i<=10:
    print(i)
    i-=1

In [ ]:
i=1
while i>=10:
    print(i)
    i-=1

In [ ]:
i=1
while i>=10:
    print(i)
    i-=1

In [9]:
n1= int(input('enter value'))
i=1
while i<=n1:
    if i%2==0:
        print(i,'is even',end="-->")
    i+=1

enter value5
2 is even-->4 is even-->

In [10]:
n1= int(input('enter value'))
i=1
while i<=n1:
    if i%2==0:
        print(i,'is even',end="-->")
    i+=1

enter value8
2 is even-->4 is even-->6 is even-->8 is even-->

 # jumpling statements
    
   + break, continue, pass

In [11]:
s='hello'
for i in s:
    if i=="l":
        break
    print(i)

h
e

In [12]:
s='hello'
for i in s:
    if i=="l":
        continue
    print(i)

h
e
o

# Functions 3 types 

# Predifined function 

   + print 
   - type 
   - input 
   - ord 
   - chr 
   - bin 
   - sum 
   - max
   - min
   - round
   - sorted
   
# User defined

# Sepicial function

In [13]:
a='python workshop'
b=[1,2,3,4,5]
len(a)
type(a)
ord('z')
bin(5)
sum(b)
max(a)
min(a)

' '

In [14]:
max(a)

'y'

In [15]:
sum(b)

15

In [16]:
bin(5)

'0b101'

In [17]:
ord('z')

122

In [18]:
type(a)

str

In [19]:
len(a)

15

In [20]:
sorted(a)

[' ', 'h', 'h', 'k', 'n', 'o', 'o', 'o', 'p', 'p', 'r', 's', 't', 'w', 'y']

In [22]:
all(a)

True

In [23]:
abs(-1)

1

In [24]:
pow(2)

TypeError: pow() missing required argument 'exp' (pos 2)